html, body {
    background:url('../img/bg.jpg') center center no-repeat;
    height: 100%;
    background-size:cover;
}
#logo img {
    margin:0 auto !important;
    padding-top:20px;
    width: 150px;
    height: auto;
    opacity: 0.8;
}
#logo img:hover {
    opacity: 1.0;
    }
#intro p {
    color: white;
    text-align:center;
    font-family: 'Just Another Hand', cursive;
    font-size:3em;
}
#counter .countdown {
    text-align:center;
    color:white;
    font-family: 'Amatic SC', cursive;
    font-size:4em;
    margin:-15px 0 0;
}
